{% extends 'shop/base.html' %}

{% block body %}

<script>
  function clickme()
    {
        alert("Product added Successfully in Cart") 
    }
</script>


{% load static %}
<div id="carouselExampleDark" class="carousel carousel-dark slide">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active" data-bs-interval="10000">
      <img src="{% static 'apple/a.jpg' %}" height="450px" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
      </div>
    </div>
    <div class="carousel-item" data-bs-interval="2000">
      <img src="{% static 'apple/b.jpg' %}" height="450px" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
      </div>
    </div>
    <div class="carousel-item">
      <img src="{% static 'apple/c.jpg' %}" height="450px" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
<br>
<form action="/cart/cart" method="post">
  {% csrf_token %}
<div class="row">
  {% for i in apple %}
  <div class="col-xl-3" id="d1">
    <div class="card" style="width: 18rem;">
    <img src="{{i.item_image.url}}" class="card-img-top" alt="...">
      <div class="card-body">
     <!--   <h5 class="card-title">{{i.item_id}}</h5> -->
        <h6 class="card-text">{{i.item_name}}</h6>
        <h7 class="card-text">{{i.item_desc}}</h7>
        <h2 class="card-text"> RS {{i.item_price}}</h2>
        <button type="submit" name="pid" class="btn btn-primary" value="{{i.id}}" onclick="clickme()">Add To Cart</button>
      </div>
    </div>
  </div>
    {% endfor %}
  </div>
</form>
{% endblock %}