{% extends 'shop/base.html' %}

{% block body %}
{% load static %}
<div id="carouselExample" class="carousel slide">
    <div class="carousel-inner">
      <div class="carousel-item active">
       <img src="{% static 'shop/slide1.jpg' %}" height="450px" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="{% static 'shop/slide2.jpg' %}" height="450px" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="{% static 'shop/slide3.jpg' %}" height="450px" class="d-block w-100" alt="...">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div><br>
  <form action="/apple" method="post">
    {% csrf_token %}
  <div class="row">
{% for i in shop %}
<div class="col-xl-3" id="d1">
  <div class="card" style="width: 18rem;">
  <img src="{{i.product_image.url}}" class="card-img-top" alt="...">
    <div class="card-body">
    <!-- <h5 class="card-title">{{i.product_id}}</h5> -->
      <p class="card-text">{{i.product_name}}</p>
      <h5 class="card-text">RS {{i.product_price}}</h5>
      <button formaction="/apple/apple"  class="btn btn-primary">Explore More</button>
    </div>
  </div>
</div>
  {% endfor %}
</div>
</form>
</form>
{% load static %}
<div id="carouselExampleIndicators" class="carousel slide">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="{% static 'shop/apple macbook m1.jpg' %}" height="450px" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="{% static 'shop/dell.jpg' %}" height="450px" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="{% static 'shop/hp.jpg' %}" height="450px" class="d-block w-100" alt="...">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
<br><br>

{% endblock %}
